Options -Indexes
RewriteEngine On

# Rutas con una sola sección
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/?$ index.php?section=$1 [QSA,L]

# Rutas con múltiples secciones (sección de id)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/(\d+)/?$ index.php?section=$1&id=$2 [QSA,L]

# Rutas con múltiples secciones (sección de nombre)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?section=$1&action=$2 [QSA,L]

# Rutas con múltiples 3 secciones
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ index.php?section=$1&action=$2&id=$3 [QSA,L]

# Rutas con múltiples secciones
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ index.php?section=$1&sub_section=$2&name=$3&id=$4 [QSA,L]