.home_title {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 0;
    padding-bottom: 1rem;
}

.home_choose {
    font-style: italic;
    color: rgb(43, 43, 43);
    font-size: 1rem;
    text-align: center;
}

.home_cont_kategorien {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_cont_kategorien .kateins_cont {
    margin-bottom: 2rem;
}

.home_cont_kategorien .kateins_cont h3 {
    font-size: 1.8rem;
    color: rgb(47, 47, 47);
    padding-bottom: .5rem;
    text-align: start;
    padding-left: 1rem;
}

.home_cont_kategorien .kateins_cont .kateins {
    margin-bottom: 2rem;
    padding: 2rem;
    position: relative;
}

.home_cont_kategorien .kateins_cont .kateins i {
    font-size: 3rem;
    top: 50%;
    position: absolute;
    color: rgb(55, 55, 55);
    cursor: pointer;

}

.home_cont_kategorien .kateins_cont .kateins .left {
    left: -3rem;
    color: rgb(212, 212, 212);
}

.home_cont_kategorien .kateins_cont .kateins .right {
    right: -3rem;
}

.home_cont_kategorien .kateins_cont .kateins .katzwei .bg-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 100%;
    background-image: linear-gradient(to right, #ffffff00, #ffffff00, #ffffff24, #ffffff5d, #ffffffb3);
    z-index: 30;
}

.home_cont_kategorien .kateins_cont .kateins .katzwei{
    display: flex;
    margin-top: 1.4rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home_cont_kategorien .kateins_cont .kateins .katzwei .slider {
    display: flex;
}

.home_cont_kategorien .kateins_cont .kateins .katzwei img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.home_cont_kategorien .kateins_cont .kateins .katzwei .link_cont .link {
    text-decoration: none;
    color:white;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.home_cont_kategorien .kateins_cont .kateins .katzwei .link_cont .link:hover {
    background-color: rgba(0, 0, 0, 0.246);
}

.home_cont_kategorien .kateins_cont .kateins .katzwei .link_cont {
    display: flex;
    align-items: center;
    width: 16rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    margin-right: 2rem;
}


.home_cont_kategorien .kateins_cont .kateins .katzwei .link_cont .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(57, 72, 84, 0.537);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}